.logIn {
	margin: 0 10% 10% 12%;
	color: #949191;
}

.logIn h3 {
	padding-bottom: 7px;
	border-bottom: 3px solid #cacaca;
	font-weight: bold;
}

.logIn-form > div {
	display: flex;
	justify-content: space-between;
}

.logIn-form label {
	width: 30%;
	padding-top: 14px;
}

.logIn-form input {
	height: 40px;
	width: 70%;
	padding: 0 15px;
	margin-bottom: 15px;
	margin-left: 25px;
	border: none;
	border-bottom: 1px solid #cacaca;
	outline: none;
	font-size: 14px;
	color: #000;
}

.submit-button {
	height: 40px;
	width: 65%;
	margin-left: 35%;
	border: none;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	background: #78e5ea;
	color: #ffffff;
}

.submit-button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}