.frame {
	position: relative;
	min-height: 100%;
}

.frame .main {
	padding-bottom: 80px;
}

.main > div {
	color: #787575;
}

.footer,
.header {
	background: #787575;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 40px;
}

.header {
	height: 60px;
	margin-bottom: 40px;
}

.header .wrapper {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 60px;
}

.log-out a{
	margin-right: 15px;
}

.log-out:hover {
	color: #ffffff;
}


.log-in-page,
.log-in-page .main  {
	height: 100%;
}

.log-in-page .footer,
.log-in-page .header {
	display: none;
}