.board {
	display: flex;
	flex-direction: row;
}

.col {
	flex-basis: 20%;
	border: 1px solid #949191;
}

.col-header {
	height: 70px;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
	color: #949191;
	border-bottom: 1px solid #949191;
}

.drop-target-col {
	height: 100%;
	padding-bottom: 50%;
}