@import "~normalize.css";
@import "/styles/bootstrap.css";
@import "/styles/font-awesome-4.7.0/css/font-awesome.min.css";
@import "/variables.less";

* {
  margin: 0;
  padding: 0;
}

html, body, #app {
	height: 100%;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}